div {
    color: white;
}

.alert-text {
    color: red;
}

#title {
    background-color: red;
}

.read, 
.unread {
    
    color: white;
    background-color: black;
}

.subsection.header {
    color: red;
}